wxPython==4.2.1
pyinstaller-versionfile==2.1.1
pyinstaller==6.10.0
pony==0.7.19
psycopg2==2.9.9
pypubsub==4.0.3
markdown==3.7
bs4==0.0.2
attrdict2==0.0.2
numpy==2.1.2
transliterate==1.10.2
python-dateutil==2.9.0
pycairo==1.27.0
update/bsdiff4